extends /base.pug
block head
  +css("assets/lib/focalbox/dev/focalbox.css")
block body
  include github.pug
block script
  +script("assets/lib/focalbox/dev/focalbox.js")
  script: :lsc
    lc = {}
    view = new ldView do
      root: document
      handler: hosta: (->), hostb: (->)
    fba = new focalbox host: view.getAll('hosta'), class: \danger, padding: 9
    fbb = new focalbox host: view.getAll('hostb'), class: \success, padding: 3
    fbc = new focalbox host: document.body, padding: 6, selector: 'span'
    fbd = new focalbox host: document.body, class: \warning, padding: 12, selector: 'i.ldif'
    document.addEventListener \keydown, (e) -> if e.altKey => fba.focus!
    document.addEventListener \keyup, (e) -> if !e.altKey => fba.focus false
    document.addEventListener \mouseover, (e) ->
      if lc.once => return
      #lc.once = true
      fba.set-target e.target
      fbb.set-target e.target
      fbc.set-target e.target
      fbd.set-target e.target
