@keyframes focalbox
  0%
    filter: brightness(125%)
  50%
    filter: brightness(75%)
  100%
    filter: brightness(125%)

.focalbox
  position: absolute
  top: 0
  left: 0
  z-index: 10000
  pointer-events: none
  border-radius: 5px
  border: 3px solid #2be
  opacity: 0
  transition: opacity .15s ease-in-out
  animation: focalbox 1s infinite

.focalbox.active
  opacity: 0.5

.focalbox.focus
  box-shadow: 0 0 100px 1000000px rgba(0,0,0,.5)

.focalbox.moving
  transition: all .15s ease-in-out

.focalbox.danger
  border-color: #f31

.focalbox.success
  border-color: #4b6

.focalbox.warning
  border-color: #ea3
